<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./../public/bootstrap/dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="./../public/bootstrap/dist/css/bootstrap-theme.min.css" >

    <!-- Latest compiled and minified JavaScript -->
    <script src="./../public/bootstrap/dist/js/bootstrap.min.js" ></script>
</head>
<body>
<% include shared/menu.html%>

<div class="container" style="margin-top: 60px">

    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="login-form">
                <form method="post" action="#" role="login">
                    <label for="email">Adresse Email</label>
                    <input type="text" name="pseudo"required class="form-control input-lg"/>
                    <label for="pwd">Mot de passe</label>
                    <input type="password" class="form-control input-lg" id="password" required="" />

                    <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>

                </form>
            </section>
        </div>

    </div>


</div>
</body>
</html>