<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./../public/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/main.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="./../public/bootstrap/dist/css/bootstrap-theme.min.css" >

    <!-- Latest compiled and minified JavaScript -->
    <script src="./../public/bootstrap/dist/js/bootstrap.min.js" ></script>
</head>
<body>
<% include shared/menu.html%>
<form method="post" action="<%='/comment/' + data.Detail._id %>" style="margin-top: 10px" enctype="multipart/form-data">
    <label>Titre: <%= data.Titre %></label><br>
    <label>Réalisateur: <%= data.Realisateur %></label><br>
    <label>Date de sortie: <%= data.dateSortie %></label><br>
    <img src="<%= '/' + data.Affiche %>"><br>
    <label>Date d'ajout: <%= data.Detail.dateAjout %></label><br>
    <label>Description: <%= data.Detail.Description %></label><br>
    <label>Avis: </label><br>
    <%data.Detail.Avis.forEach(function(element){%>
        <div id="avis">
            <p><%= element.Pseudo %></p><br>
            <label>Commentaire: </label><p><%= element.Message %></p><br>
            <label>Note: </label><p><%= element.Note %></p><br>
        </div>
    <%})%>
    <label>Ajouter un avis</label>
    <label>Note: </label><input type="number" name="note"><br>
    <label>Commentaire: </label><br>
    <input type="text" name="commentaire"><br>
    <input type="submit" value="Valider">
</form>
</div>
</body>
</html>