<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./../public/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/main.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="./../public/bootstrap/dist/css/bootstrap-theme.min.css" >

    <!-- Latest compiled and minified JavaScript -->
    <script src="./../public/bootstrap/dist/js/bootstrap.min.js" ></script>
</head>
<body>
<% include shared/menu.html%>
<div class="list-films">
    <h1>Derniers films</h1>
    <form method="post">
        <% data.forEach(function(film){%>
            <div class="get-films">
            <h3><%= film.Titre %></h3>
            <h5><%=film.Realisateur%></h5>
            <img src="<%= film.Affiche %>" />
            <input type="submit" value="Valider">
            </div>
        <%})%>
    </form>
</div>
</body>
</html>